{% extends 'base.html.twig' %}

    {% block title %}
        Welcome!
    {% endblock %}

    {% block body %}
        <h1>
            {{ 'title_welcome'|trans }}
        </h1>
        <img id="main_page_logo" src="https://wierzba.wzks.uj.edu.pl/~19_kwiecien/SI/app/3.png"></a>
        <button>
            <a href="{{ url('recipe_index') }}" title="{{ 'action_go_to_recipe_list'|trans }}">
                {{ 'action_go_to_recipe_list'|trans }}
            </a>
        </button>
    {% endblock %}