* {
    box-sizing: border-box;
}
.nav_menu {
    color: #222222;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    display: inline;

}
.nav_menu ul {
    list-style: none;
    padding-top: 4%;
    margin: 0%;
    display: inline-block;
    float: right;
    font-size: 1.3em;
}
.nav_menu li {
    display: inline;
    padding-right: 30px;
    padding-top: 50%;
}
header {
    background-color: #e9963a;
    color: #324370;
    width: auto;
    margin: 0 auto;
    padding: 0 50px;
    z-index: auto;
    height: 20%;

}
#header_logo {
    max-height: 120px;
}
.container-fluid {
    padding: 50px;
    min-height: 80vh;
}
a {
    color: #324370;
}
a:hover{
    color: #5571bf;
    transition-delay: 200ms;
    text-decoration: none;
}
h1, h2, h3, dt {
    color: #324370;
    font-family: 'Barlow', sans-serif;
}
p, dd {
    font-family: 'Lato', sans-serif;
}
#site_title {
    display: inline-block;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    padding-top: 3%;
}
.table-striped {
    font-family: 'Barlow', sans-serif;
}
button {
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase ;
    font-family: 'Barlow', sans-serif;
    background-color: white;
    color: #324370;
    border: 2px solid #324370;
}
button:hover{
    background-color: #324370;
    color: #ffffff;
    transition-delay: 0.5ms;
}
footer {
    color: white;
    background-color: #324370;
    height: 80px;
    margin-bottom: 0;
}

/* Slideshow container */
.slideshow-container {
    max-height: 150px;
    max-width: 100vw;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #324370;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #5571bf;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
